body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

@font-face {
	font-family: "Maplestory Light";
	src: url("./fonts/Maplestory\ Light.ttf");
}

@font-face {
	font-family: "Maplestory Bold";
	src: url("./fonts/Maplestory\ Bold.ttf");
}

:root {
	--font-Maplestory-Light: "Maplestory Light", sans-serif;
}

:root {
	--font-Maplestory-Bold: "Maplestory Bold", sans-serif;
}

:root {
	--font-size-xl: clamp(
		1rem,
		2vw,
		3rem
	); /* 1rem = 16px, 2vw = 38.4px (1920x1080), 3rem = 48px */
	--font-size-lg: clamp(
		0.75rem,
		1.5vw,
		2.25rem
	); /* 0.75rem = 12px, 1.5vw = 28.8px (1920x1080), 2.25rem = 36px */
	--font-size-md: clamp(
		0.6rem,
		1.2vw,
		1.8rem
	); /* 0.6rem = 9.6px, 1.2vw = 23.04px (1920x1080), 1.8rem = 28.8px */
	--font-size-sm: clamp(
		0.45rem,
		0.9vw,
		1.35rem
	); /* 0.45rem = 7.2px, 0.9vw = 17.28px (1920x1080), 1.35rem = 21.6px */
	--font-size-xs: clamp(
		0.3rem,
		0.6vw,
		0.9rem
	); /* 0.3rem = 4.8px, 0.6vw = 11.52px (1920x1080), 0.9rem = 14.4px */
}

:root {
	--color-TopBar: "#202029";
	--color-Quiz: "#222333";
	--color-Editor: "#181824";
}
